/* Body, Headers, and Text*/
* {
	margin:0;
	padding:0;
}

html {
	box-sizing:border-box; height:100%;
}

body {
	background:#f2f6f9;
	height:100%;
	font-family:"lato";
	font-weight:normal;overflow: hidden;
}
h1, h2, h3, h5, h5, h6 {
	font-family:"lato" !important;
	font-weight:normal !important;
	padding-bottom: 5px;
	margin: 0px 0px !important;
}
label {
	font-family:"lato" !important;
}
p {
	font-family:"lato" !important;
}

/*Text Styles*/
.bold {
	font-weight:bold !important;
}
.lighter {
	color:#444444;
}

/*Toolboxes and Infoboxes*/
.toolbox_left {
	position: absolute;
	bottom: 24px;
	left: 24px;
	min-width: 300px;
	max-width: 300px;
	z-index: 2;
}
.toolbox {
	position:relative;
	overflow-y:hidden;
	
}
#info_box {
	overflow-y:auto;
	position:relative;
	overflow-x:hidden;
	height:600px;
}
#info_box, #units_chart, #complaint_type_chart, #complaint_year_chart {
	display:none;
}
.close_button,.reset_map{
	font-size:11px;
	float:right;
}
.separator{
	min-height: 1px;
	background-color: rgba(46, 60, 67, 0.08);
	margin: 16px 0;
}

/*Icons and Legends*/
hr {
	margin-bottom: 10px;
	margin-top: 10px;
}
.legend-text {
	font-size:11px;
}
.dashed_line {
	border:none;
	border-top:2px dashed #000;
	color:#fff;
	background-color:#fff;
	height:1px;
	width:15%;
	margin-right: 10px;
	float: left;
}
.solid_line {
	border:none;
	border-top:2px solid #000;
	color:#fff;
	background-color:#fff;
	height:1px;
	width:15%;
	margin-right: 10px;
	float: left;
}
.gradient_box {
	background: linear-gradient(to right, #ffffb2, #b10026);
	width: 15%;
	height:15px;
	float: left;
	margin-top: 5px;
	margin-right: 10px;
	border:0.5px solid black;
}

/*Map*/
#container {
	display:flex;
	width:100%;
	height:100%;
}
#map {
	flex:1;
	margin:10px;
}


/*Search*/
.search_label {
	font-size:14px;
}
#no_results {
	display:none;
}

/*Clears and Margins*/

.clearfix {
	overflow: auto;
}
.margin_bottom {
	margin-bottom:5px;
}
